body {
  font-family: Helvetica;
}

header {
  height: 50px;
  line-height: 50px;
  background-color: #f4cb00;
  z-index: 2;
}
header figure {
  float: left;
  position: relative;
}

section {
  background: url(../images/featured-home.jpg) top center no-repeat;
  min-height: 400px;
}
section article {
  float: left;
  position: relative;
  width: 100%;
}
section .container {
  margin-top: 300px;
  background: #c1c1c1;
}
